.authorization_buttons{
    margin-top: 5vh;
}

@media (min-width: 1600px){
    .authorization_buttons{
        margin-top: 7.5vh;
    }
}

@media (max-width: 480px){
    .authorization_buttons{
        margin-top: 7.5vh;
    }
}
