body {
    --text-color: #f1efe3;
    --bkg-popup-color: #b4ae8e;
    --bkg-panel-color: #41423d;
    --bkg-color: #828770;
    --design: #9f8b59;
    --dark-design: #746130;
    --container: #555847;
    --calendar: #373737;
}
body.dark-theme {
    --text-color: #f2e9e4;
    --bkg-popup-color: #9a8c98;
    --bkg-panel-color: #22223b;
    --bkg-color: #4a4e69;
    --design: #adb5f1;
    --dark-design: #dee2ff;
    --container: #c9ada7;
    --calendar: #373737;
    background: #3d405b;
}
.history__container{
    width: 90%;
    height: 85%;
    margin: 2.5% 5%;
    border: var(--bkg-popup-color);
    border-radius: 10px;
    background: var(--bkg-popup-color);
    display: grid;
    grid-template-columns: 30% 25% 25% 20%;
    text-align: center;
    overflow: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    z-index:1;
}

.grid-item {
    padding: 10px;
    font-size: 22px;
    text-align: center;
    min-height: 15vh;
    max-width: 100%;
    word-wrap: break-word;
}

.button-item{
    font-size: 22px;
    background: var(--bkg-panel-color);
    color: var(--text-color);
    text-align: center;
    border-radius: 10px;
    border: 2px var(--bkg-panel-color);
    height: 40%;
    width: 70%;
    margin-left: 20%;
}
.button-item:hover{
    color: var(--design);
    background: var(--container);
}

.hidden {
    display: grid;
    grid-template-rows: 10% 70% 10%;
    row-gap: 5%;
    top: 0;
    left: 0;
    height: 70vh;
    width: 40vw;
    align-items: center;
    border-radius: 20px;
    background-color: var(--bkg-popup-color);
}
#headerDiv{
    position: relative;
    overflow: hidden
}
#headerNote{
    font-size: 28px;
    text-align: center;
    word-wrap: break-word;
    /* display: inline-block;
    padding-left: 100%;
    animation: marquee 5s linear infinite; */
}

@keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }

#buttonDiv{
    text-align: center;
    bottom: auto;
}
#closeArchive:hover{
    color: var(--design);
}

#closeArchive{
    font-size: 22px;
    background: var(--bkg-panel-color);
    color: var(--text-color);
    text-align: center;
    border-radius: 10px;
    border: 2px var(--bkg-panel-color);
    width: 15vw;
    
}

#popupArchive {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(65, 66, 61, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#forText{
    min-height: 20vh;
    white-space: nowrap;
}
.planner__text{
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
}
.todo-item span{
    width: 100%;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
}
li { 
    list-style-type: none;
}

.todo-item input[type="checkbox"], .delete{
    display: none;
}


@media (max-width:440px){
    .history__container {
        padding-top: 10px;
    }
    .grid-item {
        padding: 0px;
        font-size: 14px;
        min-height: 10vh;
    }
    .button-item{
        font-size: 8px;
        margin-top: -5px;
        height: 4.5vh;
        width: auto;
        margin-right: 2px;
        text-align: left;
    }
    #closeArchive{
        font-size: 14px;
        width: 30vw;
    }
    #popupArchive{
        overflow: auto;
        word-wrap: break-word;
    }
}