body {
  --text-color: #f1efe3;
  --bkg-popup-color: #b4ae8e;
  --bkg-panel-color: #41423d;
  --bkg-color: #828770;
  --design: #9f8b59;
  --dark-design: #746130;
  --container: #555847;
  --calendar: #373737;
}
body.dark-theme {
  --text-color: #f2e9e4;
  --bkg-popup-color: #9a8c98;
  --bkg-panel-color: #22223b;
  --bkg-color: #4a4e69;
  --design: #adb5f1;
  --dark-design: #dee2ff;
  --container: #c9ada7;
  --calendar: #373737;
  background: #3d405b;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 960px;
  height: 75px;
  background: var(--bkg-panel-color);
}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

 .burger {
  display: none;
}

.popup {
  display: none;
} 

.name_user{
  color: var(--text-color);
  font-size: 32px;
  display: flex;
  align-items: flex-end;
  padding: 18px 25px;
}

.menu > li > a{
  text-decoration: none;
}

.navbar__wrap .menu {
  display: flex;
}

.navbar__wrap .menu > li{
  display: flex;
  align-items: stretch;
}

.navbar__wrap .menu > li > a{
  display: flex;
  align-items: center;
  padding-right: 25px;
  color: var(--text-color);
  font-size: 18px;
}

.navbar__wrap .menu > li > a:hover{
  color: var(--design);
}



.main {
  position: fixed;
  top: 75px;
  width: 100%;
  max-width: 960px;
  height: 100vh;
  background-color: var(--container);
}


.container__panel {
  display: grid;
  height: 90%;
  column-gap:  2.5%;
  margin: 2.5%;
  grid-template-areas:
  "B B B B   B B A A    A A A A"
  "B B B B   B B A A    A A A A"
  "B B B B   B B A A    A A A A"
  "B B B B   B B A A    A A A A";
} 

.left__container{
  border: var(--bkg-popup-color);
  border-radius: 10px;
  background: var(--bkg-popup-color);
  grid-area: B;
  height: 90%;
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.right__container{
  grid-area: A;
  display: grid;
  height: 92.5%;
  max-width: 100%;
  min-width: 60%;
  grid-template-rows: 47.5% 47.5%;
  row-gap:  2.5%;
  column-gap:  2.5%;
}

.calendar__container{
  border: var(--bkg-popup-color);
  border-radius: 10px;
  background: var(--bkg-popup-color);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.notes__element{
  display: grid;
  grid-template-rows: 47.5% 47.5%;
  grid-template-columns: 47.5% 47.5%;
  row-gap:  5%;
  column-gap: 5%;
}

.notes, .check_list, .planner,.brain_map{
  border: var(--bkg-popup-color);
  border-radius: 10px;
  background: var(--bkg-popup-color);
  position: relative;
  display: grid;
  place-items: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
img {
  position: absolute;
  width:55%;
  height: auto;
  cursor: pointer;
}

.notes:hover, .check_list:hover, .planner:hover,.brain_map:hover{
  background-color: var(--design);
}


.header {
  text-align: center;
  font-size: 22px;
  padding: 10px;
  color: var(--text-color);
  border-radius: 10px 10px 0px 0px;
  background: var(--bkg-panel-color);
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
}

.tasks{
  width: 100%;
  height: 75vh;
  white-space: nowrap;
  overflow: auto;
}

.active__container{
  width: 100%;
  display: grid;
  text-align: inherit;
  grid-template-columns: 50% 50%;
}
#grid-item-buttons{
  width:100%;
  display: grid;
  height: 5vh;
  grid-template-columns: 40% 40%;
  margin-top: 10px;
  column-gap: 5%;
}
#grid-item-buttons > button{
  font-size: 14px;
}
#text-to-find{
  width: 90%;
  margin: 5%;
  padding-top: 0px;
  height: 6vh;
  background-color: var(--bkg-color);
  color: var(--bkg-panel-color);
  border: var(--bkg-color);
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
}
input:focus, #text-to-find:focus{
  border-color: var(--bkg-color);
  background-color: var(--bkg-color);
}
#grid-item-input{
  min-height: 5vh;
}
.grid-item {
  padding-top: 10px;
  font-size: 22px;
  text-align: center;
  vertical-align: middle;
  height: fit-content;
  min-height: 5vh;
  color: var(--bkg-panel-color);
  word-break: break-word;
  white-space: pre-line;
  overflow-wrap: break-word;
}

.button-item{
  color: var(--bkg-panel-color);
  font-size: 22px;
  max-width: 240px;
  height: fit-content;
}
.button-item:hover{
  background-color: var(--bkg-popup-color);
  color: var(--design);
  cursor: pointer;
}

.hidden {
  display: none;
  /* margin: 0 auto; */
  /* white-space: nowrap;
  overflow: hidden;
  position: absolute; */
}
#headerDiv{
    position: relative;
    overflow: hidden
}
#headerNote{
    font-size: 28px;
    text-align: center;
    word-wrap: break-word;
    /* display: inline-block;
    padding-left: 100%;
    animation: marquee 5s linear infinite; */
}
#buttonDiv{
    text-align: center;
    bottom: auto;
}
#closePopup:hover{
    color: var(--design);
}

#closePopup{
    font-size: 22px;
    background: var(--bkg-panel-color);
    color: var(--text-color);
    text-align: center;
    border-radius: 10px;
    border: 2px var(--bkg-panel-color);
    width: 15vw;
    
}
#popupTask {
    position: fixed;
    top: 55%;
    left: 50%;
    width: 60%;
    min-height: fit-content;
    /* height: 80%; */
    transform: translate(-50%, -50%);
    background: var(--bkg-popup-color);
    padding: 20px;
    border: 10px solid var(--bkg-panel-color);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.9);
    z-index: 10;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#forText{
    min-height: 20vh;
    white-space: nowrap;
}

.outer, .outer__todo{
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 47.5% 47.5%;
  grid-template-rows: 45% 45%;
  row-gap: 20%;
  column-gap: 5%;
}

.inner > button{
  text-align: center;
  justify-content: center;
  display: inline-flex;
  align-items: center;
}

@media (min-width: 1800px) {
  .name_user{
    font-size: 44px;
  }
  .navbar__wrap .menu > li > a{
    font-size: 32px;
  }
  .first_panel .header{
    font-size: 36px;
  }
  .tasks .task_text{
    font-size: 22px;
  }
  .container__panel{
    height: 100%;
  }
  .notes__element div img{
    max-width: 120px;
  }
  .tasks{
    font-size: 26px;
    width: 100%;
    height: 84vh;
  }
}

@media (max-width: 660px){
  .tasks{
    height: 74vh;
  }
  .navbar__wrap .menu {
    display: none;
  }
  .name_user{
    font-size: 26px;
  }
  .burger {
    display: flex;
    align-items: center;
  }
  .burger__icon {
    padding: 20px 25px;
    cursor: pointer;
  }
  .inner > button{
    min-height: 8.5vh;
    font-size: 14px;
  }
  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background: var(--text-color);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
  }
  .popup {
    position: fixed;
    top: 75px;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
  .popup.open{
    right: 0px;
  }
  .popup .menu{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

  }
  .popup .menu > li {
    list-style: none; 
    width: 100%;
  }
  .popup .menu > li > a{
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 20px 25px;
    font-size: 20px;
    background-color: var(--bkg-panel-color);
    color: var(--text-color);
  }
  .popup .menu > li > a:hover {
    color: var(--design);
  }
  .burger__icon.active .bar:nth-child(2){
    opacity: 0;
  }
  .burger__icon.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    -webkit-transform: translateY(8px) rotate(45deg);
    -moz-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
  }
  .burger__icon.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -moz-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
  }
  .grid-item {
  font-size: 14px;  
  }
  .button-item{
  font-size: 14px;
  }
  
}