@font-face {
	font-family: 'Kreadon';
	font-style: normal;
	font-weight: normal;
	src: local('Kreadon'),
		url('../fonts/ofont.ru_Kreadon.ttf') format('ttf');
}

*::-webkit-scrollbar {
    height: 40px;
    width: 12px;
    cursor: default;
}

*::-webkit-scrollbar-track {
    background: #41423d;
    cursor: default;
}
  
*::-webkit-scrollbar-thumb {
    background-color: #f1efe3;
    border-radius: 5px;
    border: 3px solid #f1efe3;
    cursor: default;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: #9f8b59;
    border: 3px solid #9f8b59;
}
  

*{
    margin: 0;
    padding: 0;
    font-family: 'Kreadon', sans-serif;
    box-sizing: border-box;
}
html {
    background-color: #f1efe3;
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;;
}
.containter{
    width: 100%;
    max-width: 960px;
    height: 100vh;
    background-color: #555847;
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-position:center;
}

a:hover{
    color: #9f8b59;
    background-color: #41423d;
}