body {
    --text-color: #f1efe3;
    --bkg-popup-color: #b4ae8e;
    --bkg-panel-color: #41423d;
    --bkg-color: #828770;
    --design: #9f8b59;
    --dark-design: #746130;
    --container: #555847;
    --calendar: #373737;
}
body.dark-theme {
    --text-color: #f2e9e4;
    --bkg-popup-color: #9a8c98;
    --bkg-panel-color: #22223b;
    --bkg-color: #4a4e69;
    --design: #adb5f1;
    --dark-design: #dee2ff;
    --container: #c9ada7;
    --calendar: #373737;
    background: #3d405b;
}
.popupNotes, .popupToDo, .popupPlanner, .popupBrain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(65, 66, 61, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.popup-content-notes, .popup-content-todos,
.popup-content-planner, .popup-content-brain{
    background-color: var(--bkg-popup-color);
    width: 60vw;
    max-width: 480px;
    min-width: 280px;
    height: 70vh;
    min-height: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.popup-content-notes h2, .popup-content-todos h2,
.popup-content-planner h2, .popup-content-brain h2{
    margin-bottom: 20px;
    text-align: center;
    font-size: 32px;
    color: var(--bkg-panel-color);
}

textarea {
    width: 100%;
    height: 47.5vh;
    background-color: var(--bkg-popup-color);
    margin-bottom: 10px;
    font-size: 18px;
    padding: 12px;
    border: 1px solid var(--bkg-panel-color);
    border-radius: 5px;
    outline: none;
    resize: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px 12px;
    background-color: var(--bkg-panel-color);
    color: var(--text-color);
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#grid-item-buttons > button{
    padding: 10px 6px;
    margin-left: 10px;
  }
#grid-item-input{
    white-space: normal;
}
.inputToDo{
    display: flex;
    justify-content: space-between;
}

.inputToDo input{
    display: inline-block;
    margin: 0px;
    text-align: center;
    background: var(--bkg-color);
    color: var(--text-color);
    padding: 0.5rem 0.5rem;
    font-size: 18px;
    border-radius: 10px;
    border: 0cm;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.inputToDo input::placeholder{
    color: var(--text-color);
    font-size: 18px;
}
.inputToDo button{
    display: inline-block;
    width: 100%;
}

.close-popup-notes:hover,  button:hover,
.close-popup-checkList:hover, .close-popup-brain:hover{
    color: var(--design);
}

.todo-item {
    max-width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 6px 0;
    font-size: 18px;
    position: relative;
    hyphens: auto;
    overflow: visible;
}

li .todo-item{
    text-align: center;
    vertical-align: middle;
}
.todo-item input[type="checkbox"] {
    margin-right: 8px;
    white-space: nowrap;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}
.todo-item span{
    width: 85%;
    overflow-wrap: break-word;
}
.todo-item .checked {
    text-decoration: line-through;
    color: var(--text-color);
}

.popup-content-todos, .popup-content-planner, .popup-content-brain{
    overflow: auto;
    overflow-x: hidden;
}

.delete {
    text-align: center;
    vertical-align: middle;
    background-color: var(--bkg-panel-color);
    color: var(--text-color);
    font-size: 20px;
    width: 28px;
    height: 20px;

    line-height: 18px;
    padding: 0 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
#todo-form{
    margin-bottom: 5px;
}
.toDoContainer .close-popup-todo{
    margin-top: 10px;
}

#submitToDo{
    margin-top: 10px;
}

#notesHeader, #todosHeader, #plannerHeader, #brainHeader{
    background: transparent;
    border: none;
    font-size: 24px;
    text-align: center;
}

.planner-list > li{
    width: 100%;
    list-style-type: none;
}
.container-planner-area{
    display: flex;
    justify-content: center;
    align-items: center;
}
.planner-list > li > div > span{
    font-size: 20px;
    margin-right: 15px;
}

.planner-list > li > div > textarea{
    text-align: right;
    width: 75%;
    height: 6vh;
}

#plannerForm{
    margin-bottom: 10px;
}

#deletePopupNotes, #archivePopupNotes{
    display: none;
}
 
.container__brain {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
padding: 5px;
}

#input_brain_note {
    width: 100%;
    border-radius: 5px;
    padding: 6px 12px;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#add_brain_note {
    width: 100%;
    background-color: var(--bkg-panel-color);
    color: var(--text-color);
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
}

#brain_notes,
.note-children-brain {
    list-style-type: none;
    }

.note_brain {
    background-color: var(--bkg-popup-color);
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 7.5px;
    border-left: 2px solid var(--bkg-panel-color);
    height: max-content;
    min-height: 20px;
    position: relative;
    word-break: break-all;
    white-space: normal;
}

.note_brain .note-controls-brain {
    width: 100%;
    display: inline-flex;
}


.note_brain .add-child-brain,
.note_brain .delete-brain{
    display:inline-block;
    background-color: var(--bkg-panel-color);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    padding: 4px 8px;
    font-size: 12px;
    margin: 5px;
}
.note:hover,
.note_brain .add-child-brain:hover,
.note_brain .delete-brain:hover{
    color: var(--design);
}


@media (min-width: 1880px){

    .popup-content-notes{
        width: 100vw;
        height: 80vh;
    }
    .popup-content-notes h2 {
        font-size: 40px;
    }
    textarea{
        font-size: 22px;
        height: 63vh;
    }
    button{
        font-size: 26px;
    }
}

@media (max-width: 440px){
    .inputToDo button{
        font-size: 14px;
        width: 90%;
        margin-left: 10px;
    }
    .todo-item span{
        width: 80%;
    }
    .popup-content-notes{
        height: 80%;
    }
    .inputToDo input, .inputToDo input::placeholder{
        font-size: 14px;
    }
    .inputToDo input{
        width: 100%;
        margin-right: 10%;
    }
    .popup-content-notes h2, .popup-content-todos h2 {
        font-size: 24px;
    }
    #notesHeader, #todosHeader, #plannerHeader{
        max-width: 200px;
        font-size: 22px;
        text-align: center;
    }
    
}