.containter{
    background-image:url('../img/registration.png');
    display: grid;
    height: 100vh;
    grid-template-rows: 30vh 30vh 20vh;
    row-gap:  5vh;
    overflow: hidden;
}
.login_field{
    display: grid;
    height: 100%;
    min-height: 220px;
    max-height: 400px;
    width: 70%;
    grid-template-rows: 40% 45%;
    text-align: center;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
}
.pass_field{
    display: grid;
    height: 100%;
    min-height: 250px;
    max-height: 400px;
    width: 70%;
    grid-template-rows: 40% 40%;
    text-align: center;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
}

.authorization_buttons{
    display: grid;
    height: 50%;
    width: 50%;
    margin-top: -6vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    grid-template-rows: 50% 50%;
    min-height: 160px;
}

 #login_in, #pass_in{
    margin: 15px;
    text-align: center;
    background: #828770;
    color: #f1efe3;
    padding: 1rem 1rem;
    font-size:26px;
    vertical-align: middle;
    border-radius: 15px;
    border: 0cm;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

#login_in::placeholder, #pass_in::placeholder{
    color: #f1efe3;
    font-size: 26px;
}

.small_text{
    font-size: 26px;
    color: #f1efe3;
}

.input_fields{
    display: grid;
    justify-items: center;
}

.btn {
   text-align: center;
   margin: 0.5em;
   background: #828770;
   color: #f1efe3;
   padding: 1rem 1rem;
   text-decoration: none;
   font-size: 26px;
   border-radius: 15px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   -ms-border-radius: 15px;
   -o-border-radius: 15px;
}

#registry{
    border: 0px;
}

#registry:hover{
    color: #9f8b59;
    background: #41423d;
}
@media (min-width: 1600px){
    #login_in::placeholder, #pass_in::placeholder, .small_text, .btn{
        font-size: 42px;
    }
    .small_text{
        margin-top: -10px;
    }
    .authorization_buttons{
        margin-top: 5vh;
        min-height: 260px;
    }
}
@media (max-width: 480px){
    #login_in::placeholder, #pass_in::placeholder, .small_text{
        font-size: 20px;
    }
    .containter{
        background-image:url('../img/registration.png');
        width: 100%;
        height: 100%;
    }
    .authorization_buttons{
        margin-top: 5vh;
        min-height: 180px;
        width:fit-content;
    }
    .login_field{
        width: 100%;
        height: inherit;
        margin-top: 12.5vh;
    }
    .pass_field{
        width: 100%;
        height: inherit;
        margin-top: 5vh;
    }
}