body {
    --text-color: #f1efe3;
    --bkg-popup-color: #b4ae8e;
    --bkg-panel-color: #41423d;
    --bkg-color: #828770;
    --design: #9f8b59;
    --dark-design: #746130;
    --container: #555847;
    --calendar: #373737;
}
body.dark-theme {
    --text-color: #f2e9e4;
    --bkg-popup-color: #9a8c98;
    --bkg-panel-color: #22223b;
    --bkg-color: #4a4e69;
    --design: #adb5f1;
    --dark-design: #dee2ff;
    --container: #c9ada7;
    --calendar: #373737;
    background: #3d405b;
}

.containter h2{
    font-size: 72px;
    margin-top: 10vh;
    text-align: center;
    color: var(--text-color);
}

.authorization_buttons{
    margin-top: 20vh;
    display: grid;
    justify-items: center;
}

.containter{
    background-image:url('../img/title.png');
}

.btn {
    text-align: center;
    margin: 0.5em;
    background: var(--bkg-color);
    color: var(--text-color);
    width: 60%;
    padding: 1rem 1rem;
    text-decoration: none;
    text-align: center;
    font-size: 32px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

@media (min-width: 1600px){
    .containter h2{
        font-size: 96px;
        margin-top: 20vh;
    }
    
    .btn {
        text-align: center;
        margin: 0.5em;
        background: var(--bkg-color);
        color: var(--text-color);
        width: 60%;
        height: 7.5vh;
        padding: 1rem 1rem;
        text-decoration: none;
        text-align: center;
        font-size: 48px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }
}
@media (max-width: 480px){
    .containter h2{
        font-size: 46px;
        margin-top: 20vh;
    }
    
    .btn {
        margin-top: 5vh;
        font-size: 24px;
    }
}

